<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
    h1='Welcome To KenzieGram'
    
    form(id="user-img-upload", action="/upload", enctype = "multipart/form-data", method="post")
        input(
            type="file" 
            name="myFile" 
            id="upload"
        )
        input(
            type="submit" 
            id="submit"
        )
    each val in images
        img( src= val)
    button( id="backButton" onclick="window.location='./'" ) back
    script(src="/index.js")
    
    
        
